img{
	padding:5px;
	cursor: pointer;
}
.nube{
	border: solid 1px #aaaacc;
	background-color: #ddf;
	color: #666;
	width: 100%;
	height: 100%;
	text-align: center;
}
.nube div.etiquetas{
	font-family: verdana,arial, helvetica;
	font-size: 8px;
	padding: 5px;
}
.nube{
	/*border: solid 1px #aac;
	background-color: #ddf;
	color: #666;
	width: 100%;
	text-align: center;*/
}
.nube div.etiquetas{
	font-family: verdana,arial, helvetica;
	font-size: 11pt;
	padding: 5px;
}
.nube div.etiquetas span{
	float:left;
	margin: 0 3px 0 3px;
	height: 20pt;
	white-space: nowrap;
}
.nube div.etiquetas span.valor1{
	font-size: 110%;
}
.nube div.etiquetas span.valor2{
	font-size: 120%;
}
.nube div.etiquetas span.valor3{
	font-size: 130%;
}
.nube div.etiquetas span.valor4{
	font-size: 140%;
}
.nube div.etiquetas span.valor5{
	font-size: 150%;
}
.nube div.etiquetas span.valor6{
	font-size: 160%;
}
.nube div.etiquetas span.valor7{
	font-size: 170%;
}
.nube div.etiquetas span.valor8{
	font-size: 180%;
}
.nube div.etiquetas span.valor9{
	font-size: 190%;
}
.nube div.etiquetas span.valor10{
	font-size: 200%;
}